@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  font-family: "Manrope", sans-serif;
}

@theme {
  --color-yellow-50: #ffd500;
  --color-yellow-55: #ffd81a;
  --color-yellow-70: #ffe566;
  --color-yellow-80: #ffee99;
  --color-yellow-90: #fff6cc;
  --color-yellow-95: #fffae5;
  --color-yellow-97: #fffcf0;
  --color-yellow-99: #fffefa;

  --color-gray-10: #1a1a1a;
  --color-gray-15: #262626;
  --color-gray-20: #333333;
  --color-gray-30: #4c4c4d;
  --color-gray-35: #59595a;
  --color-gray-40: #656567;
  --color-gray-60: #98989a;
  --color-gray-70: #b3b3b3;

  --color-white-90: #e4e4e7;
  --color-white-95: #f1f1f3;
  --color-white-97: #f7f7f8;
  --color-white-99: #fcfcfd;

  --text-67: 67px;
  --text-15: 15px;
  --text-51: 51px;
  --text-50: 50px;
  --text-58: 58px;
  --text-38: 38px;
  --text-28: 28px;
  --text-22: 22px;
  --text-26: 26px;
  --text-12: 12px;
  --text-78: 78px;
  --text-40: 40px;
  --text-42: 42px;
  --text-60: 60px;
  --text-54: 54px;
  --text-34: 34px;
  --text-44: 44px;

  --radius-20: 20px;
  --radius-10: 10px;
  --radius-14: 14px;
  --radius-16: 16px;

  --spacing-0_5: 2px;
  --spacing-1_4: 5px;
  --spacing-1_5: 6px;
  --spacing-1_9: 9px;
  --spacing-2_5: 10px;
  --spacing-2_6: 11px;
  --spacing-3_4: 13px;
  --spacing-3_5: 14px;
  --spacing-3_6: 15px;
  --spacing-4_5: 16px;
  --spacing-4_7: 17px;
  --spacing-4_8: 18px;
  --spacing-4_9: 19px;
  --spacing-5_3: 23px;
  --spacing-6_5: 25px;
  --spacing-6_6: 26px;
  --spacing-6_7: 28px;
  --spacing-6_9: 29px;
  --spacing-7_5: 30px;
  --spacing-8_5: 34px;
  --spacing-10_5: 42px;
  --spacing-10_6: 44px;
  --spacing-40_2: 162px;
  --spacing-12_5: 50px;
  --spacing-12_6: 54px;
  --spacing-14_5: 60px;
  --spacing-14_7: 62px;
  --spacing-16_5: 70px;
  --spacing-16_6: 72px;
  --spacing-24_5: 100px;
  --spacing-24_6: 115px;
  --spacing-24_7: 120px;
  --spacing-33: 132px;
  --spacing-33: 132px;
  --spacing-36_5: 150px;
  --spacing-36_6: 162px;
  --spacing-20_2: 82px;

  --tracking-3: -3%;

  --leading-110: 110%;
  --leading-120: 120%;
  --leading-140: 140%;
  --leading-150: 150%;
  --leading-160: 160%;
  --leading-27: 27px;
  --leading-auto: auto;

  --container-wrapper: 1920px;
  --breakpoint-ll: 780px;
  --breakpoint-xll: 1440px;
  --breakpoint-3xl: 1920px;

  --shadow-ss2: 0px 0px 0px 4px #fafafa;
  --shadow-ss1: 0px 0px 0px 6px #fafafa;
  --ease-bounce: cubic-bezier(0.04, 1.25, 1, 1);
  --tracking-1_5: -1.5%;
  --leading-full: 100%;
  --ease-bounce: cubic-bezier(0.34, 1.56, 0.64, 1);
}

header .nav__links.active {
  color: var(--color-gray-15);
  background-color: var(--color-white-97);
  border-color: var(--color-white-97);
}
.l-150 {
  line-height: 150%;
}
.l-120 {
  line-height: 120%;
}
.l-130 {
  line-height: 130%;
}
.l-110 {
  line-height: 110%;
}

.section {
  padding-inline: 16px;
  padding-top: 80px;
}
.svg {
  height: 20px;
  width: 20px;
}
@media screen and (min-width: 780px)  {
  .section {
    padding-inline: 40px;
  }
}
@media screen and (min-width: 1440px)  {
  .section {
    padding-inline: 80px;
    padding-top: 150px;
  }
}
@media screen and (min-width: 1920px)   {
  .section {
    padding-inline: 162px;
    padding-top: 200px;
  }
  .svg {
    height: 24px;
    width: 24px;
  }
}